/**************   MENUS  ******************/

a.menu0 {
	padding: 2 6 2 6;
	border-color: #D3D5DD;
	border-width: 1px;
	border-style: solid;
	color: #636DAD;
	text-decoration: none;
	white-space: nowrap;
}

a.menu0:hover {
	color: #636DAD;
	text-decoration: none;
	padding: 2 6 2 6;
	background-color: #D7EDFA;

}

.submenu, .submenu2 {
	width:100%;
	height:21px;
	padding:0px;
}

.submenu{
	background: url(../../img/subme1_bg.gif) repeat-x;
}

.submenu2{
	background: url(../../img/subme2_bg.gif) repeat-x;
}

.submenu ul, .submenu2 ul{
	height:21px;
	font-size:100%;
	margin: 0px 0px 0px 21px;
	padding:0px;
	list-style: none;
	float:right;
}

.submenu img, .submenu2 img, .submenuUsuario img, .submenu3 img{
	padding:0px;
	margin:0px;
	vertical-align: text-bottom;
}

.submenu li, .submenu2 li, .submenuUsuario li, .submenu3 li{
	float:left;
	padding:0px;
	margin:0px;
}

.submenu li.submen1on, .submenu2 li.submen1on, .submenuUsuario li.submen1on, .submenu3 li.submen1on{
	font-weight:bold;
	color: #666600;
	margin: 0px;
	padding:0px;
	position:relative;
	margin-left:-14px;
}

.submenu li.submen1on{
	background: url(../../img/subme1_bgon.gif) top left repeat-x;
	height:21px;
}

.submenu2 li.submen1on{
	background: url(../../img/subme2_bgon.gif) top left repeat-x;
	height:21px;
}

.submenuUsuario li.submen1on{
	background: url(../../img/subme3_bgon.gif) top left repeat-x;
	height:20px;
	text-decoration:none;
}

.submenu3 li.submen1on{
	background: url(../../img/subme3_bgon.gif) top left repeat-x;
	height:17px;
}

.submenu li.submen1off, .submenu2 li.submen1off{

	margin: 0px;
	padding:0px;
	height:21px;
	margin-left: -14px;
}

.submenu li.submen1off{
	background: url(../../img/subme1_bgoff.gif) top left repeat-x;
}

.submenu2 li.submen1off{
	background: url(../../img/subme2_bgoff.gif) top left repeat-x;
}

.submenuUsuario{
	width:100%;
	height:20px;
	background: url(../../img/subme3Usuario_bg.gif) repeat-x;
	padding:0px;
}

.submenuUsuario ul{
	height:20px;
	font-size:100%;
	margin: 0px 0px 0px 1px;
	padding:0px;
	list-style: none;
	float:right;
}

.submenuUsuario li.submen1off{
	background: url(../../img/subme2_bgoff.gif) repeat-x;
}

.submenu3{
	width:100%;
	height:17px;
	background: url(../../img/subme3_bg.gif) repeat-x;
	padding:0px;
}

.submenu3 ul{
	height:17px;
	font-size:100%;
	margin: 0px 0px 0px 21px;
	padding:0px;
	list-style: none;
	float:right;
}

.submenu3 li.submen1off{
	background: url(../../img/subme3_bgoff.gif) top left repeat-x;
	margin: 0px;
	padding:0px;
	height:17px;
	color: #666600;
}
