<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "dtd/log4j.dtd">
<!-- Fichero de configuración del sistema de trazas log4j -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!-- Parte genérica de Sicres -->
    <appender name="ISicresWS" class="org.apache.log4j.RollingFileAppender">
        <!-- Configurar ruta -->
        <param name="File" value="${log.path}${log.isicres.ws}.log"/>
        <param name="MaxFileSize" value="${log.filesize}"/>
        <param name="MaxBackupIndex" value="${log.maxBackupIndex}"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%p] %C %M %m %n"/>
        </layout>
    </appender>


    <logger name="com" additivity="false">
        <level value="debug"/>
        <appender-ref ref="ISicresWS"/>
    </logger>

    <logger name="ieci" additivity="false">
        <level value="debug"/>
        <appender-ref ref="ISicresWS"/>
    </logger>


</log4j:configuration>

