<Context path="/SIGEM_ConsultaRegistroTelematicoBackOfficeWeb" reloadable="true">

	<ResourceLink global="jdbc/eTramitacionDS_000" name="jdbc/eTramitacionDS_000" type="javax.sql.DataSource"/>
	<ResourceLink global="jdbc/registroDS_000" name="jdbc/registroDS_000" type="javax.sql.DataSource"/>

</Context>