<Context path="/fwktdsirWS" reloadable="true">

	<Resource name="jdbc/fwktd-sirDS"
		auth="Container"
		type="javax.sql.DataSource"
		driverClassName="org.h2.Driver"
		url="jdbc:h2:~/fwktd-sir"
		username="fwktdsir"
		password="fwktdsir"
		maxActive="5"
		maxIdle="3"
		maxWait="-1"
		removeAbandoned="true"
		removeAbandonedTimeout="60"
		logAbandoned="true"/>

</Context>