/*Generales*/
body {
	padding:0px;
	margin: 5px 5px 10px 5px;
	font-family: Verdana, "Arial", Tahoma, Helvetica, sans-serif;
	font-size: 69%;
	background: #FFFFFF;
}
#contenedora {
	margin:0px auto;
	text-align:left;
	background-color:#fff;
	Height:100%;
	width: 100%;
}

.centered {
	text-align: center;
	Height:100%;
}

a:hover { text-decoration:none;
}
a { text-decoration:none; color:#000000
}
.activo { text-decoration:none;color:#cc3300
}
.titular {font-weight:bold;color: #006699;
}
.titular a { text-decoration:none; color: #006699;
}


/*cabecera*/


#cabecera {
	height: 61px;
	background: #99D6F5 url("../img/fondo_cab.jpg") top left no-repeat;
}

#cabecera h1 {
	margin: 10px 0px 0px 8px;
	height: 54px;
/*	background: url("../img/logo.gif") 0px 10px no-repeat;
	text-indent: -3000px;*/
}

#cabecera h3 {
	margin: 0px;
	position: absolute;
	top: 6px;
	left: 279px;
/*	cambiar para cabecera sin margen */
	width: 415px;
	height: 60px;
/*	background: url("../img/portal_organismo.gif") 0px 0px no-repeat;*/
	text-indent: -3000px;
}

#cabecera .salir {
	position: absolute;
	background: url("../img/exit.gif") top left no-repeat;
	text-align: right;
	top: 18px;
	right: 26px;
}

.salir a {
	height: 20px;
	line-height: 20px;
	padding-left: 30px;
	color: #307CB6;
	font-weight: bold;
	font-family: verdana, arial, tahoma, geneva, sans-serif;
	text-decoration: none;
	font-size: 90%;
}

/* BARRAS DE USUARIO */

/* area de usuario con texto a izquierda y bot�n de ayuda a derecha */

#usuario {
	background: url("../img/bg_right_usuario.jpg") bottom right no-repeat;
	height: 27px;
	vertical-align:middle;
	margin: 0px;
	padding: 0px;
}

#barra_usuario {
	margin: 0px;
	background: url("../img/bg_left_usuario.jpg") left bottom no-repeat;
	padding: 0px;
	height: 27px;
	line-height: 27px;
}


#barra_usuario h3 {
	font-weight: bold;
	font-family: verdana;
	color: #333333;
	font-size: 90%;
	float: left;
	margin: 0px 15px 0px 10px;
	display: inline; /* para quitar el doble margen del IE */
}

#barra_usuario .ayuda  {
	margin: 0px 10px;
	padding: 0px;
	text-align: right;
	Height: 23px;
	line-height: 23px;
}

#barra_usuario .ayuda a {
	background: url("../img/help.gif") right 0px no-repeat;
	text-decoration: none;
	Height: 23px;
	line-height: 23px;
	margin: 0px;
	padding: 1px 0px 1px 6px;
}

#barra_usuario .idioma {
	Height: 23px;
	line-height: 23px;
	margin: 0px 10px;
	padding: 0px;
}

#barra_usuario .idioma a {
	background: url("../img/refresh.gif") right 0px no-repeat;
	text-decoration: none;
	Height: 23px;
	line-height: 23px;
	margin: 0px;
	padding: 1px 0px 1px 6px;
}

#barra_usuario .idioma select {
	font-size: 100%;
	margin: 0px;
	padding: 0px;
	margin-top: 3px;
	border: 1px solid #7f9db9;
	width: 100px;
}

/* fin cabecera normalizada */

p.desplegar{margin-top:10px;background: url(../img/ico_desplegar.gif) no-repeat left; padding-left:15px;font-size:90%;margin-right:20px;width:80px;
}
.margen{margin-left:15px; margin-right:5px;
}
#migas{padding-top:10px; padding-bottom:10px;
}


/*ejemplo cuerpo con submenu*/

.contenedor_centrado {
	margin: 20px auto;
	text-align:center;
	width: 840px;
}

.contenedor_error {
	margin: 40px auto;
	text-align:center;
}

.cuerpo {
	background: #dee1e8 url(../img/bg_left_cuerpo.jpg) no-repeat left top;
	text-align:left;
}

.cuerpomid {
	background: url(../img/bg_mid_cuerpo.jpg) repeat-x left top;
	margin: 0px 6px 0px 5px;
	padding: 6px 0px 0px;
}

.cuerporight{ background: url(../img/bg_right_cuerpo.jpg) no-repeat right top;
}

.contenedor_centrado h1, .contenedor_detalle h1 {
	font-weight:bold;
	color: #006699;
	font-size:100%;
	background: url(../img/bolo_activo.gif) no-repeat left;
	margin: 6px 0px 6px 10px;
	padding: 0px 0px 0px 10px;
	line-height:90%;
}

.acciones {
	height: 20px;
	text-align: right;
	margin: 0px;
	vertical-align: middle;
}

.acciones a.cerrar {
	color: #006699;
	font-weight: bold;
	font-size: 90%;
	text-decoration: none;
	background: url("../img/close.png") top left no-repeat;
	padding: 1px 0px 0px 18px;;
}

.contenido_cuerpo, .cuadro {
	border: 1px solid #c7d9d3;
	margin: 0px 5px;
	padding: 0;
	background: #FFFFFF;
}

/*
.cuadro {
	background: #FFFFFF;
	border-right: 1px solid #c6c9d5;
	border-bottom: 1px solid #c6c9d5;
	border-left: 1px solid #c6c9d5;
	padding:15px;
	margin:0px;
}
*/
.cuerpobt { background: #dee1e8 url(../img/bg_leftdown_cuerpo.jpg) no-repeat left bottom;
}
.cuerpomidbt { background: url(../img/bg_middown_cuerpo.jpg) repeat-x left bottom; margin: 0px 6px 0px 5px; padding: 6px 0px 0px;
}
.cuerporightbt { background: url(../img/bg_rightdown_cuerpo.jpg) no-repeat right bottom;
}

.cabecera_error {background: url(../img/cabpop.jpg) no-repeat; height: 46px; width: 505px
}
.cuadro_error{ background: #FFFFFF; border-right: 1px solid #c6c9d5; border-bottom: 1px solid #c6c9d5; border-left: 1px solid #c6c9d5;  height: 160px; width: 505px;
}
label.popup{color: #006699; font: bold; font-size: 50%
}

/* ESTILOS NORMALIZADOS */

.tabs_submenus {
	height: 17px;
	margin: 0px 5px 0px 5px;
	padding-right: 10px;
	position: relative; /* da problemas en el IE6 */
	zoom: 1;
}

.tabs_submenus ul {
	font-size:100%;
	float: right;
	margin: 0px;
	padding: 0px;
	list-style: none;
	height: 17px;
}

.tabs_submenus ul li {
	height: 18px;
}

li.subOn {
	margin-left: 1px;
	zoom: 1;
	float: left;
	padding: 0px;
	background: url("../img/sub_right_on.gif") top right no-repeat;
}

li.subOn h3 {
	font-size: 100%;
	margin: 0px 0px 0px 0px;
	background: url("../img/sub_left_on.gif") top left no-repeat;
	padding: 4px 10px 4px 20px;
}

li.subOff {
	margin-left: 1px;
	zoom: 1;
	float: left;
	padding: 0px;
	background: url("../img/sub_right_off.gif") top right no-repeat;
}

li.subOff h3 {
	font-size: 100%;
	margin: 0px 0px 0px 0px;
	background: url("../img/sub_left_off.gif") top left no-repeat;
	padding: 4px 10px 4px 20px;
}

.tabs_submenus ul li h3 a {
	font-size: 80%;
	color: #006699;
	text-decoration: none;
	line-height: 1em;
}

.cuerpo_subs {
	border: 1px solid #c7d9d3;
	background-color: #ffffff;
	margin: 0px 5px 0px 5px;
	padding: 10px;
}

.titulo {
	font-weight: bold;
}

.vacio {
	height: 8px;
}

.cuerpo_sub {
	margin:0px;
	padding:5px;
	clear:left;
}

* html .clearfix {
	Zoom : 1;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


.seccion {
	/*margin: 10px 10px 20px 10px;
	padding: 0px;*/
	width: 100%;
}

div.clear {
	clear:both;
}

.cuerpo_sec {
	padding: 10px 0px 0px 0px;
}

.cuerpo_sec ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	float:right;
}

.cuerpo_sec ul li {
	background: url("../img/bullet.gif") left 3px no-repeat;
	padding-left: 14px;
	margin: 5px 0px 10px 0px;
	float:left;
}

.cuerpo_sec a {
	height: 12px;
	line-height: 12px;
	text-decoration: none;
	font-weight: normal;
	color: #006699;
	font-size: 100%;
}

.cuerpo_sec a:hover {
	text-decoration: underline;
}

.cuerpo_sec p {
	margin: 8px 0px 0px 0px;
	font-family: arial;
	color: #999999;
	font-size: 100%;
}

.col {
	background: url(../img/fondo_puntos.gif) repeat-x left bottom;
	padding-bottom:3px;
	padding-top:3px;
	margin: 0px;
}

.fila, .fila_sub, .fila_right {
	padding-bottom:3px;
	padding-top:3px;
	margin: 0px;
	clear:both;
}

.fila_sub {
	background: url(../img/fondo_puntos.gif) repeat-x left bottom;
}

.fila_right {
	float:right;
}

label, Input, select, Textarea {
	font-family: Verdana, "Arial", Tahoma, Helvetica, sans-serif;
}

label {
	color: #006699;
	float:left;
	padding-top:2px;
}

label.frase {
	float:none;
}

select {
	font-size:100%;
	padding:0;
	border:1px solid #7f9db9;
}

Input {
	height:16px;
	font-size:100%;
	padding:0;
	border:1px solid #7f9db9;
	width:160px;
	margin-right:10px
}

Input.disabled {
	background-color: #EBEBEB;
}

Textarea {
	padding:0;
	border:1px solid #7f9db9;
	font-size:90%;
	width:230px;
}

select.single {
	height:16px;
}

select.multiple {
	border-left: 1px solid #7f9db9;
	border-top: 1px solid #7f9db9;
	border-bottom: 1px solid #7f9db9;
}

div.barraHz {
	overflow-x:scroll;
	border-right: 1px solid #7f9db9;
	overflow: -moz-scrollbars-horizontal;
}

label.xsml, select.xsml, Input.xsml, Textarea.xsml {
	width:60px;
}

label.sml, select.sml, Input.sml, Textarea.sml {
	width:170px;
}

label.mdl, select.mdl, Input.mdl, Textarea.mdl, div.mdl {
	width:230px;
}

select.minmdl {
	min-width:230px;
}

label.lrg, select.lrg, Input.lrg, Textarea.lrg, div.lrg {
	width:430px;
}

label.xlrg, select.xlrg, Input.xlrg, Textarea.xlrg, div.xlrg {
	width:600px;
}

label.sub {
	background: url(../img/fondo_puntos.gif) repeat-x left bottom;
}

div.sub {
	background: url(../img/fondo_puntos.gif) repeat-x left bottom;
	padding: 0px 0px 20px 0px;
}

label.tit {
	font-weight: bold;
	padding-bottom:4px;
}

Input.checkbox {
	border: none;
	width:14px;
	float:left;
}

input.ok {
	background: url(../img/fondo_boton.jpg) no-repeat; color:#fff; font:bold 11px "Arial"; height: 20px; border: 0px; width:87px;
}
input.otros {
	background: url(../img/fondo_boton_az.jpg) no-repeat; color:#fff; font:bold 11px "Arial"; height: 20px; border: 0px; width:87px;
}

label.error {
	font-weight: bold;
	float: none;
}

label.error_rojo {
	color: red;
	font-weight: bold;
	float: none;
}

.fila a, .fila a:visited, .fila a:hover {
	color: #006699;
	font-size:90%;

}
Input.botonFondo {
	border: none;
	background: url(../img/fondo_boton.jpg) no-repeat;
	font: bold 11px "Arial";
	width: 87px;
	color: #fff;
	height: 20px
}

.tablaListado {
	border: 1px dotted #c3d8e5;
	background-color: #FFFFFF;
	width: 100%;
}

.tablaListado tr {
	font-size:90%;
	font-weight: normal;
	padding-bottom:3px;
	padding-top:3px;
}

.cabeceraTabla {
	color: #006699;
	font-weight: normal;
	background-color:#c3d8e5;
	font-size:90%;
}

.tablaListado td {
	font-size:90%;
	font-weight: normal;
	padding:3px;
}

.tablaListado td.borde {
	border: 1px solid #D9E2E7;
}

.tablaListado td .titular {
	border-bottom: 1px solid #D9E2E7;
	margin-bottom:10px;
}

.tablaListado td .detalle {
	margin: 0px;
	padding-bottom: 6px;

}

.tablaListado td a, .tablaListado td a:hover {
	text-decoration: underline;
	color: #006699;
	font-weight: normal;

}

.tablaListado td label {
	float:none;
	color: #000000;
}

.hr, hr {
  border: 0px;
  height: 1px;
  background: url(../img/fondo_puntos.gif) top center repeat-x;
  margin: 1px 2px 8px 2px;
  text-align: center;
}

.hr hr { display: none !important; }


/* DISPLAY TAG */

.table-display-tag {
	border: 1px dotted #c3d8e5;
	background-color: #FFFFFF;
	width: 100%;
}

.detDocs {
	width: 96%;
}

.table-display-tag th {
	font-size:70%;
	font-weight: normal;
	padding: 2px 4px 2px 4px;
	text-align: left;
	vertical-align: top;
}

.table-display-tag td {
	font-size:70%;
	font-weight: normal;
	padding: 4px 4px 4px 4px;
	text-align: left;
	Height: 100%;
	vertical-align: middle;
}

.table-display-tag td.seleccion {
	padding: 4px 4px 4px 4px;
	vertical-align: middle;
	width: 90px;
}

.table-display-tag .anchoImg {
	width:2%;
}
.table-display-tag .anchoNReg {
	width:18%;
}
.table-display-tag .anchoSbjt {
	width:40%;
}
.table-display-tag .anchoFch {
	width:20%;
}

.table-display-tag thead tr {
  background-color: #c3d8e5;
}
.table-display-tag th.sorted {
  background-color: #c3d8e5;
}
.table-display-tag th a, .table-display-tag th a:hover {
  color: black;
}

.table-display-tag th.sorted a, th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
}
.table-display-tag th.sortable a {
	background-image: url(../images/ico/arrow_off.png);
	background-repeat: no-repeat;
	color: black;
}
.table-display-tag th.order1 a {
	background-image: url(../images/ico/arrow_down.png);
	background-repeat: no-repeat;
	color: black;
}
.table-display-tag th.order2 a {
	background-image: url(../images/ico/arrow_up.png);
	background-repeat: no-repeat;
	color: black;
}
.table-display-tag tr.odd {
  background-color: #fff
}
.table-display-tag tr.tableRowEven, tr.even {
  background-color: #fea
}

.table-display-tag ul#showsource {
	float: right;
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	margin: 5px;
	width:100px;
	list-style-type: none;
}

/* test styles */
.table-display-tag table.its thead tr {
  background-color: #69c;
}
.table-display-tag table.its tr.even {
  background-color: #def;
}

.table-display-tag table.mars thead tr {
  background-color: #9c9;
}
.table-display-tag table.mars tr.even {
  background-color: #ccb;
}
.table-display-tag table.mars tr.odd {
  background-color: #eec;
}

span {
	padding:0;
	font-size: 10px;
	background-repeat:no-repeat;
	list-style-type:none;
}

span.pagebanner {
	background-color: #EEEEEE;
	color: #000000;
	font-family:  Verdana, Arial, Helvetica, Sans-serif;
	text-align: left;
	border: 1px dotted #999999;
	padding: 2px 4px 2px 4px;
	display:block;
	border-bottom: none;
	margin: 0px;
}

span.pagelinks {
	background-color: #EEEEEE;
	color: #000000;
	font-family:  Verdana, Arial, Helvetica, Sans-serif;
	text-align: left;
	border: 1px dotted #999999;
	padding: 2px 4px 2px 4px;
	display: block;
	border-top: none;
	margin-bottom: 10px;
}

/* Estilo para los enlaces de exportacion */
div.exportlinks {
	background-color: #EEEEEE;
	color: #000000;
	font-size: 10px;
	font-family:  Verdana, Arial, Helvetica, Sans-serif;
	text-align: center;
	border: 1px dotted #999999;
	padding: 2px 4px 2px 4px;
	margin: 3px 0px 3px 0px;
}

span.export {
	padding: 0 4px 1px 23px;
	display:inline;
	cursor: pointer;
}

span.excel {
	background-image: url(../img/ico_file_excel.png);
	background-repeat: no-repeat;
}
span.csv {
	background-image: url(../img/ico_file_csv.png);
	background-repeat: no-repeat;
}
span.xml {
	background-image: url(../img/ico_file_xml.png);
	background-repeat: no-repeat;
}
span.pdf {
	background-image: url(../img/ico_file_pdf.png);
	background-repeat: no-repeat;
}

/* estilo para la ordenaci�n de las columnas de tablas */
a.sortheader {
    background-color:#616EAA;
    color:#FFFFFF;
    font-weight: bold;
    text-decoration: none;
    display: block;
}
a.sortheader:hover {
	color:#FFE017;
}
table.sortable {
    color: #616EAA;
    text-decoration: none;
}
span.sortarrow {
    color: #FFFFFF;
    text-decoration: none;
}

.frame_barra {
	margin: 0px;
	padding: 0px;
	border: 2px solid #ABABAB;
	color: #006699;
	scrollbar-face-color:#4CA9D7;
	scrollbar-arrow-color:#FFFFFF;
	scrollbar-track-color:#BEE8F9;
	scrollbar-shadow-color:'';
	scrollbar-highlight-color:'';
	scrollbar-3dlight-color:'';
	scrollbar-darkshadow-Color:'';
}


.seccion_det {
	margin: 0px;
	padding: 10px;
}
