<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<import resource="classpath:beans/ISicres-Desktop-Api/filter-beans.xml" />
	<import resource="classpath:beans/ISicres-Desktop-Api/controller-beans.xml" />
	<import resource="classpath:beans/ISicres-Desktop-Api/delegate-beans.xml" />
	<import resource="classpath:beans/ISicres-Desktop-Api/dwr-beans.xml" />

	<!-- Sobrecarga y personalizacion de beans -->
	<import resource="classpath*:beans/ISicres-Desktop-Api/*custom-beans.xml" />
</beans>