<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean
		id="fwktd_csv_aplicacionExternaConnector_ws_applicationContextProviderImpl"
		name="fwktd_csv_aplicacionExternaConnector_ws_applicationContextProvider"
		class="es.ieci.tecdoc.fwktd.core.spring.context.ApplicationContextProvider">
	</bean>

</beans>