.barraBandeja{
	background-color:#CFCDCD;
	text-align:right;
	padding:4px 0;
}

.linkBarraBandeja{
	margin-right: 10px;
	text-decoration: none;
	margin-right: 20px;
}

.barraAcciones{
	padding-top:5px;
	text-align: right;
	background-color: #D7EDFA;
}
.linkDisabled
{
	color: grey;
}
.linkBarraAcciones{
	margin-right: 20px;
	text-decoration: none;
}

.linkBarraAcciones,.linkBarraBandeja{
cursor: pointer;
	font-weight: bold;
}

.linkBarraAcciones{
	font-size:10px;
}

#librosEntrada{

	background: none repeat scroll 0 0 white;
    border: 1px solid black;
    color: black;
    display: block;
    padding: 30px;
    position: absolute;
    width:50%;
	left: 25%;
    z-index:1000;
}

#buscarNuevoDestino{

	background: none repeat scroll 0 0 white;
    border: 1px solid black;
    color: black;
    display: block;
    padding: 30px;
    position: absolute;
	width:70%;
	left: 15%;
    z-index:1000;

}

#llegoDocumentacionFisica, #divMotivoRechazo{
	background: none repeat scroll 0 0 white;
    border: 1px solid black;
    color: black;
    padding: 30px;
    position: absolute;
    width:50%;
	left: 25%;
    text-align:center;
    z-index:1000;
}

#llegoDocumentacionFisica p, #buscarNuevoDestino p{
	color:black;
}
#capaBloqueo{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color: grey;
  	filter:alpha(opacity=60);
  	-moz-opacity: 0.6;
  	opacity: 0.6;
}


.imageClickable{
	cursor:pointer;

}

.formRow{
	margin: 8px 0 8px 0;
}

.label{
	padding:0;
}

div#tblUtil{
	font-weight: bold;
	font-size: 8pt;
	margin: 3px;
}

table#bandejaEntrada, table#bandejaEntradaAceptados, table#bandejaSalida{
	margin-top:3px !important;
	vertical-align: middle;
}

table#bandejaEntrada thead tr, table#bandejaEntradaAceptados thead tr, table#bandejaSalida thead tr{
	position:relative;
	top:-2px;
}

table#bandejaEntrada th, table#bandejaEntradaAceptados th, table#bandejaSalida th{
	font-size: 7pt;
	height: 25px;
	font-weight: bold;
	vertical-align: middle;
}

table#bandejaEntrada tr, table#bandejaEntradaAceptados tr, table#bandejaSalida tr {
	height:25px;
}

table#bandejaEntrada tr td, table#bandejaEntradaAceptados tr td, table#bandejaSalida tr td{
	font-size: 8pt;
	vertical-align: middle;
}

table.tablaBusqueda {
	margin: 10px 0 !important;
	background-color:  rgb(240, 240, 246);
}

table.tablaBusqueda tr td{
	text-align:left;
	height:20px;
	vertical-align: bottom;
}

table.tablaBusqueda input.inputText{
	width:250px;
}

table.tablaBusqueda select{
	width:120px;
}

}
