li.tabOn {
	margin-left: 5px;
	zoom: 1;
	float: left; 
	padding: 0px; 
	background: url("../images/tab_right_on.gif") top right no-repeat;	
}

li.tabOn h3 {
	font-size: 100%;
	margin: 0px 0px 0px 0px;
	background: url("../images/tab_left_on.gif") left 0px no-repeat;
	padding: 2px 10px 6px 20px;
}

li.tabOff {
	margin-left: 5px;
	zoom: 1;
	float: left; 
	padding: 0px; 
	background: url("../images/tab_right_off.gif") top right no-repeat;	
}

li.tabOff h3 {
	font-size: 100%;
	margin: 0px 0px 0px 0px;
	background: url("../images/tab_left_off.gif") left 0px no-repeat;
	padding: 2px 10px 6px 20px;
}

#tabs ul li h3 a {
	font-size: 80%;
	color: #006699;
	text-decoration: none;
	line-height: 1em;
}

/**** tabs que van a mostrarse en ventana poppup ****/

#tabs_popup {
	padding-top:10px;
	margin-left: 10px;
	padding-right: 10px;
	position: relative; /* da problemas en el IE6 */
	z-index: 100;
	zoom: 1;
}

#tabs_popup ul {
	font-size:100%;
	margin: 0px;
	padding: 0px;
	list-style: none;
	float: right;
	height: 18px;
}

#tabs_popup ul li {
	height: 18px;
}

#tabs_popup ul li h3 a {
	font-size: 80%;
	color: #006699;
	text-decoration: none;
	line-height: 1em;
}

.cuerpo_tabs_popup {
	margin-left: 10px;
	margin-right: 10px;
	zoom: 1;
	background: url("../images/bottom_right.gif") bottom right no-repeat;	
	margin-top: -1px;
}

.cuerpo_tabs_popup div.grupo_seccion_tab {
	background: url("../images/bottom_left.gif") bottom left no-repeat;
	padding-bottom: 6px;
}

.cuerpo_tabs_popup div.grupo_seccion_tab div.seccion_tab {
	border: 1px solid #c7d9d3;
	background-color: #ffffff;
	margin: 0px 6px 1px 5px;
}
/***************/
/* FORMULARIOS */
/***************/

.cuerpo_tabs form {
	margin: 0 10px;
}

.cuerpo_tabs form .form_seccion_tab {
	margin: 15px 0px;
}

.cuerpo_tabs form p {
	margin: 3px 0px;
}

.cuerpo_tabs form table {
	margin: 3px 0px;
}

.cuerpo_tabs form p label {
	display: block;
	width: 27%;
	float: left;
	color: #4477AA;
	font-weight: bold;
}

.cuerpo_tabs {
	margin-left: 228px;
	zoom: 1;
	background: url("../images/bottom_right.gif") bottom right no-repeat;	
	margin-top: -1px;
}

.cuerpo_tabs .encabezado_cuerpo_tabs .cuerpo_tabs_popup {
	background: url("../images/top_right.gif") top right no-repeat;	
}

.encabezado_cuerpo_tabs h3 {
	color: #006699;
	font-size: 100%;
	margin: 0px 0px 0px 0px;
	background: url("../images/top_left.gif") left 0px no-repeat;
	padding: 2px 20px 2px 20px;
}

.cuerpo_tabs div.grupo_seccion_tab {
	background: url("../images/bottom_left.gif") bottom left no-repeat;
	padding-bottom: 6px;
}

.oculto {
	display: none;
}

.visible {
	display: block;
}

.cuerpo_tabs div.grupo_seccion_tab div.seccion_tab {
	border: 1px solid #c7d9d3;
	background-color: #ffffff;
	margin: 0px 6px 1px 5px;
}

div.seccion_tab div.cabecera_seccion_tab {
	background: #D7EDFA;
	border-bottom: 1px solid #c7d9d3;
	font-size: 100%;
	height: 19px;
	line-height: 19px;
}

div.seccion_tab div.cabecera_seccion_tab.vacia {
	height: 19px;
	line-height: 19px;
}

div.seccion_tab div.cabecera_seccion_tab h4 {
	float: left;
	margin: 0px;
	padding-left:4px;
	font-size: 100%;
	color: #006699;
}

div.seccion_tab div.cabecera_seccion_tab p {
	text-align: right;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
}

div.seccion_tab div.cabecera_seccion_tab p a {
	text-decoration: none;
	font-weight: bold;
	color: #006699;
	padding: 0px 5px 2px 5px;
	height: 19px;
	line-height: 19px;
	vertical-align: middle;
}

div.seccion_tab div.cabecera_seccion_tab p a img {
	height: 17px;
	line-height: 17px;
	vertical-align: middle;
	padding: 0px 0px 3px 0px;
}

#addressList {
	margin-top: 2px;
	width: 80%;
}

.select_tab_popup {
	width: 255px;
	font-weight: normal;
	font-size: 8pt;
	font-family: Verdana;
	color: #003366;
}

.textarea_tab_popup {
	width: 250px;
	font-weight: normal;
	font-size: 8pt;
	font-family: Verdana;
	color: #003366;
	background-color: #FFFFFF;
}

div.contenedor_tabs {
	width="99%";
}

.input_tab_popup {
	width: 255px;
	font-weight: normal; 
	font-size: 8pt; 
	font-family: Verdana; 
	color: #003366; 
	background-color: #FFFFFF;
}

label.mid {
	width:100px;
	word-wrap: break-word; 
}
.fila, .fila_sub, .fila_right {
	padding-bottom:3px;
	padding-top:3px;
	margin: 0px;
	clear:both;
}

.fila_sub {
	background: url(../images/fondo_puntos.gif) repeat-x left bottom; 
}

.fila_right {
	float:right;
	padding-right: 10px;
}

.fila label, .fila_sub label {
	color: #006699; 
	float:left;
	padding-top:2px;
}

.fila input, .fila_sub input {
	height:16px;
	font-size:8pt; 
	padding:0px;
	border:1px solid #7f9db9;
	margin-right:10px;
}
.fila_right input.botonFondo {
	border: none; 
	background: url(../images/fondo_boton.jpg) no-repeat; 
	font: bold 11px "Arial"; 
	width: 87px; 
	color: #fff; 
	height: 20px;
}
img {
	border:0;
}
label.large {
	width:18%;
	word-wrap: break-word; 
}

.cuerpo_tabs_popup p label {
	display: block;
	width: 27%;
	float: left;
}