<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="fichero" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="./ispacmgr.log"/>
		<param name="MaxFileSize" value="5000KB"/>
		<param name="MaxBackupIndex" value="10"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} [%p] %C %M %m %n"/>
		</layout>
	</appender>

	<appender name="consola" class="org.apache.log4j.ConsoleAppender">
      <param name="Target" value="System.out"/>
      <layout class="org.apache.log4j.PatternLayout">
	      <param name="ConversionPattern" value="%d{ISO8601} [%p] %C %M %m %n"/>
      </layout>
	</appender>

	<root>
		<priority value='warn'/>
		<appender-ref ref='fichero'/>
	</root>

</log4j:configuration>