<Context path="/SIGEM_PublicadorWS" reloadable="true">

	<ResourceLink global="jdbc/eTramitacionDS_000" name="jdbc/eTramitacionDS_000" type="javax.sql.DataSource"/>
	
	<ResourceLink global="jdbc/registroDS_000" name="jdbc/registroDS_000" type="javax.sql.DataSource"/>

	<ResourceLink global="jdbc/tramitadorDS_000" name="jdbc/tramitadorDS_000" type="javax.sql.DataSource"/>
	
	<ResourceLink global="jdbc/sigemAdmin" name="jdbc/sigemAdmin" type="javax.sql.DataSource"/>
	
	<ResourceLink global="jdbc/sisnot" name="jdbc/sisnot" type="javax.sql.DataSource"/>
	
</Context>