<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="contextApplicationContextProvider"
		class="es.ieci.tecdoc.isicres.api.IsicresSpringApplicationContextProvider"></bean>

	<import resource="classpath:beans/ISicres-Api/manager-beans.xml" />

	<import resource="classpath:beans/ISicres-Api/dao-beans.xml" />

	<import resource="classpath:beans/ISicres-Api/datasource-beans.xml" />

	<import resource="classpath:beans/ISicres-Api/transaction-beans.xml" />

	<import resource="classpath:beans/ISicres-Api/compulsa/manager-compulsa-beans.xml" />

	<import	resource="classpath:beans/ISicres-Api/documentoElectronico/applicationContext.xml" />

	<import	resource="classpath:beans/ISicres-Api/intercambioRegistral/applicationContext.xml" />

	<import	resource="classpath:beans/ISicres-Api/registro/applicationContext.xml" />

	<import resource="classpath:beans/ISicres-Api/alias-beans.xml" />

	<!-- Sobrecarga y extension de beans -->
	<import resource="classpath*:beans/ISicres-Api/*-custom-beans.xml" />

</beans>