.body {
	font-family: Arial, Helvetica, sans-serif;
}
.titulo
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
}

a:visited{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #660066;
}
a:link{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
}
.bar {
	color: #CC6600;
}

p,li {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
}

ol ol li { list-style-type: upper-alpha;}
.header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
.header2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin-left: 30px;
}
.bold{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

.tableBase {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: 1px #000 solid;
	width: 85%;
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	margin: 0;
	padding: 0;
}
th {
 	background-color: #F2F2F2;
	font-size: 12px;
	font-weight: bold;
	height: 25px;
}
.resaltado{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #ffffce;
	margin-left: 15px;
	height: 20px;
	padding: 4px;
}

.atencion{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #cecfce;
	margin-left: 15px;
	height: 20px;
	padding: 4px;
	color: red;
}
