/*Generales*/
body {
	padding:0px;
	margin: 5px 5px 10px 5px;
	font:normal 70%/normal Verdana, "Arial", Tahoma, Helvetica, sans-serif;
	background: #FFFFFF;
}
#contenedora {
	margin:0px auto;
	text-align:left;
	background-color:#fff;
	height:100%;
	width: 100%;
}

.centered {
	text-align: center;
}


* html .clearfix {
	Zoom : 1;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

a:hover{ text-decoration:underline;
}
a{ text-decoration:none; color:#000000
}
.activo{ text-decoration:none;color:#cc3300
}
.titular{font-weight:bold;color: #006699;
}
.titular a{ text-decoration:none; color: #006699;
}

/*cabecera*/


#cabecera {
	height: 61px;
	background: #99D6F5 url("../img/fondo_cab.jpg") top left no-repeat;
}

#cabecera h1 {
	margin: 10px 0px 0px 8px;
	height: 54px;
/*	background: url("../img/logo.gif") 0px 10px no-repeat;
	text-indent: -3000px;*/
}

#cabecera h3 {
	margin: 0px;
	position: absolute;
	top: 6px;
	left: 279px;
/*	cambiar para cabecera sin margen */
	width: 415px;
	height: 60px;
/*	background: url("../img/portal_organismo.gif") 0px 0px no-repeat;*/
	text-indent: -3000px;
}

#cabecera .salir {
	position: absolute;
	background: url("../img/exit.gif") top left no-repeat;
	text-align: right;
	top: 28px;
	right: 26px;
}

.salir a {
	height: 20px;
	line-height: 20px;
	padding-left: 30px;
	color: #307CB6;
	font-weight: bold;
	font-family: verdana, arial, tahoma, geneva, sans-serif;
	text-decoration: none;
	font-size: 90%;
}

/* BARRAS DE USUARIO */

/* area de usuario con texto a izquierda y bot�n de ayuda a derecha */

#usuario {
	background: url("../img/bg_right_usuario.jpg") bottom right no-repeat;
	height: 27px;
	vertical-align:middle;
	margin: 0px;
	padding: 0px;
}

#barra_usuario {
	margin: 0px;
	background: url("../img/bg_left_usuario.jpg") left bottom no-repeat;
	padding: 0px;
	height: 27px;
	line-height: 27px;
}


#barra_usuario h3 {
	font-weight: bold;
	font-family: verdana;
	color: #333333;
	font-size: 90%;
	float: left;
	margin: 0px 15px 0px 10px;
	display: inline; /* para quitar el doble margen del IE */
}

#barra_usuario .ayuda  {
	margin: 0px 10px;
	padding: 0px;
	text-align: right;
	Height: 23px;
	line-height: 23px;
}

#barra_usuario .ayuda a {
	background: url("../img/help.gif") right 0px no-repeat;
	text-decoration: none;
	Height: 23px;
	line-height: 23px;
	margin: 0px;
	padding: 1px 0px 0px 6px;
}

#barra_usuario .idioma {
	Height: 23px;
	line-height: 23px;
	margin: 0px 10px;
	padding: 0px;
}

#barra_usuario .idioma a {
	background: url("../img/refresh.gif") right 0px no-repeat;
	text-decoration: none;
	Height: 23px;
	line-height: 23px;
	margin: 0px;
	padding: 1px 0px 0px 6px;
}

#barra_usuario .idioma select {
	font-size: 100%;
	margin: 0px;
	padding: 0px;
	margin-top: 3px;
	border: 1px solid #7f9db9;
	width: 100px;
}

/* fin cabecera normalizada */


p.desplegar{
    margin-top:10px;
    background: url(../img/ico_desplegar.gif) no-repeat left top;
    padding-left:15px;font-size:90%;margin-right:20px;width:80px;
}
.margen{margin-left:15px; margin-right:5px;
}
#migas{padding-top:10px; padding-bottom:10px;
}


/*ejemplo cuerpo con submenu*/

.contenedor_centrado {
	margin: 20px auto;
	text-align:center;
	width: 710px;
}

.contenedor_centrado_info {
	margin: 60px auto 20px auto;
	text-align:center;
	width: 710px;
}

.cuerpo{
	background: #dee1e8 url(../img/bg_left_cuerpo.jpg) no-repeat left top;
	width:707px;
	text-align:left;
}
.cuerpomid{ background: url(../img/bg_mid_cuerpo.jpg) repeat-x left top; margin: 0px 6px 0px 5px; padding: 6px 0px 0px;
}
.cuerporight{ background: url(../img/bg_right_cuerpo.jpg) no-repeat right top;
}

.contenedor_centrado h1{
	font-weight:bold;
	color: #006699;
	font-size:100%;
	background: url(../img/bolo_activo.gif) no-repeat left top;
	margin: 6px 0px 6px 10px;
	padding: 0px 0px 0px 10px;
	line-height:90%;
}
h2{
	font-weight:bold;
	color: #006699;
	font-size:120%;
	margin: 6px 0px 6px 10px;
	padding: 0px 0px 0px 10px;
	line-height:90%;
}

.cuerpobt{
	background: #dee1e8 url(../img/bg_leftdown_cuerpo.jpg) no-repeat left bottom;
	width:707px;
}
.cuerpomidbt{ background: url(../img/bg_middown_cuerpo.jpg) repeat-x left bottom; margin: 0px 6px 0px 5px; padding: 6px 0px 20px;
}
.cuerporightbt{ background: url(../img/bg_rightdown_cuerpo.jpg) no-repeat right bottom;
}

.contenido_cuerpo {
	border: 1px solid #c7d9d3;
	background: #FFFFFF;
	width: 685px;
	margin: 0px 5px;
}

.seccion {
	margin: 10px 6px 20px 14px;
}


.submenu {
	width:100%;
	height:21px;
	border-top: 1px solid #D4D0C8;
	border-right: 1px solid #D4D0C8;
	border-left: 1px solid #D4D0C8;
	background-color: #BEE8F9;
	padding:0px;
}

.cuadro {
	border: 1px solid #c7d9d3;
	background: #FFFFFF;
	padding: 15px;
	margin: 0px;
}

.cuadro input{height:16px;font-size:100%; padding:0;border:1px solid #7f9db9;width:160px;margin-right:10px
}

.col {
	background: url(../img/fondo_puntos.gif) repeat-x left bottom;
	padding-bottom:3px;
	padding-top:3px;
}


* html .col {
	Zoom : 1;
}

.col:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


.col label {
	color: #006699;
	float:left;
	padding-top:2px;
}

label.gr {
	width:110px;
}

.cuadro_alta{ background: #FFFFFF; border-right: 1px solid #c6c9d5; border-bottom: 1px solid #c6c9d5; border-left: 1px solid #c6c9d5; padding:1px; margin:0px
}
.cuadro_alta label.gr{color: #006699; width:110px;float:left;padding-top:2px
}
.cuadro_alta input{height:16px;font-size:100%; padding:0;border:1px solid #7f9db9;width:160px;margin-right:10px
}
.cuadro select.gr{height:16px;font-size:100%; padding:0;border:1px solid #7f9db9;width:160px;margin-right:10px
}
.cuadro textarea.gr{padding:0;border:1px solid #7f9db9;margin-right:10px
}
titulo{ font-weight:bold; color: #006699; font-size:100%; margin: 6px 0px 0px 10px; padding: 0px 0px 0px 10px; line-height:90%;
}
.cuadro checkbox.gr{font-size:100%; padding:0;margin-right:10px
}
.cuadro2 label.gr{color: #006699; width:110px;float:left;padding-top:2px
}
.cuadro2{ background: #FFFFFF; border-right: 1px solid #c6c9d5; border-bottom: 1px solid #c6c9d5; border-left: 1px solid #c6c9d5; padding:15px; margin:0px
}
.cuadro2 gr2{height:16px; font-size:100%; padding:0;border:1px solid #7f9db9;width:160px;margin-right:10px
}

input.ok {
	background: #fefefe url(../img/fondo_boton.jpg) no-repeat;
	color:#fff; font:bold 11px "Arial";
	height: 20px;
	border: 0px;
	width:87px;
}

label.error {
	color: #006699;
	font-weight: bold;
}

label.error_rojo {
	color: #EE0000;
	font-weight: bold;
}

ul.error_rojo {
	color: #EE0000;
}

.frame_barra {
	margin: 0px;
	padding: 0px;
	border: 2px solid #ABABAB;
	color: #006699;
	scrollbar-face-color:#4CA9D7;
	scrollbar-arrow-color:#FFFFFF;
	scrollbar-track-color:#BEE8F9;
}

.acciones {
	height: 20px;
	text-align: right;
	margin: 0px;
	vertical-align: middle;
}

.acciones a.cerrar {
	color: #006699;
	font-weight: bold;
	font-size: 90%;
	text-decoration: none;
	background: url("../img/close.png") top left no-repeat;
	padding: 1px 0px 0px 18px;;
}