<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>ISicres 8.0.5</display-name>
	<description>IECISA InveSicres 8.0.5 Java</description>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:beans/ISicres-Api/applicationContext.xml
			classpath:beans/ISicres-Terceros/applicationContext.xml
			classpath:beans/ISicres-Desktop-Api/applicationContext.xml
		</param-value>
	</context-param>

	<context-param>
		<param-name>
			org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG
		</param-name>
		<param-value>
			/WEB-INF/tiles-defs.xml
        </param-value>
	</context-param>

	<session-config>
		<session-timeout>720</session-timeout>
	</session-config>

	<servlet>
		<display-name>log4j-init</display-name>
		<servlet-name>log4j-init</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.init.Log4jInitServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>



	<!-- servlet que realiza el proceso de compulsa -->
	<servlet>
		<display-name>compulsa</display-name>
		<servlet-name>compulsa</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.compulsa.CompulsaServlet</servlet-class>
	</servlet>

	<!-- servlet encargado de recuperar la información de documentoElectronico -->
	<servlet>
		<display-name>documentoElectronico</display-name>
		<servlet-name>documentoElectronico</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.documentoElectronico.DocumentoElectronicoServlet</servlet-class>
	</servlet>






	<servlet>
		<display-name>Tasks Scheduler</display-name>
		<servlet-name>scheduler</servlet-name>
		<servlet-class>com.essiembre.library.scheduler.SchedulerServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/scheduler-config.xml</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet>
		<display-name>FileUploadScan</display-name>
		<servlet-name>FileUploadScan</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.core.FileUploadScan</servlet-class>
	</servlet>
	<servlet>
		<display-name>FileUploadScanCompulsa</display-name>
		<servlet-name>FileUploadScanCompulsa</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.core.FileUploadScanCompulsa</servlet-class>
	</servlet>
	<servlet>
		<display-name>FileScanCompulsa</display-name>
		<servlet-name>FileScanCompulsa</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.core.FileScanCompulsa</servlet-class>
	</servlet>
	<servlet>
		<display-name>FileDelete</display-name>
		<servlet-name>FileDelete</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.core.FileDelete</servlet-class>
	</servlet>
	<servlet>
		<display-name>GetSearchDist</display-name>
		<servlet-name>GetSearchDist</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.GetSearchDist</servlet-class>
	</servlet>
	<servlet>
		<display-name>GetSearchAsocRegs</display-name>
		<servlet-name>GetSearchAsocRegs</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.GetSearchAsociarRegistros</servlet-class>
	</servlet>
	<servlet>
		<display-name>ValidateSearchDist</display-name>
		<servlet-name>ValidateSearchDist</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.ValidateSearchDist</servlet-class>
	</servlet>
	<servlet>
		<display-name>ValidateSearchAsocRegs</display-name>
		<servlet-name>ValidateSearchAsocRegs</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.ValidateSearchAsociacionRegistros</servlet-class>
	</servlet>
	<servlet>
		<display-name>ValidateSelectAsocRegs</display-name>
		<servlet-name>ValidateSelectAsocRegs</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.ValidateSelectAsociacionRegistros</servlet-class>
	</servlet>
	<servlet>
		<display-name>SaveSelectAsocRegs</display-name>
		<servlet-name>SaveSelectAsocRegs</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.SaveSelectAsociacionRegistros</servlet-class>
	</servlet>
	<servlet>
		<display-name>QryGetWhere</display-name>
		<servlet-name>QryGetWhere</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.QryGetWhere</servlet-class>
	</servlet>
	<servlet>
		<display-name>ReportsFmt</display-name>
		<servlet-name>ReportsFmt</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.ReportsFmt</servlet-class>
	</servlet>
	<servlet>
		<display-name>GetPage</display-name>
		<servlet-name>GetPage</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.GetPage</servlet-class>
	</servlet>
	<servlet>
		<display-name>DtrChange</display-name>
		<servlet-name>DtrChange</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.DtrChange</servlet-class>
	</servlet>
	<servlet>
		<display-name>DtrRech</display-name>
		<servlet-name>DtrRech</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.DtrRech</servlet-class>
	</servlet>
	<servlet>
		<display-name>DtrRechEx</display-name>
		<servlet-name>DtrRechEx</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.DtrRechEx</servlet-class>
	</servlet>
	<servlet>
		<display-name>DtrArch</display-name>
		<servlet-name>DtrArch</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.DtrArch</servlet-class>
	</servlet>
	<servlet>
		<display-name>DtrAcept</display-name>
		<servlet-name>DtrAcept</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.DtrAcept</servlet-class>
	</servlet>
	<servlet>
		<display-name>DtrAceptEx</display-name>
		<servlet-name>DtrAceptEx</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.DtrAceptEx</servlet-class>
	</servlet>
	<servlet>
		<display-name>DtrDist</display-name>
		<servlet-name>DtrDist</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.DtrDist</servlet-class>
	</servlet>
	<servlet>
		<display-name>DtrReject</display-name>
		<servlet-name>DtrReject</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.DtrReject</servlet-class>
	</servlet>
	<servlet>
		<display-name>SaveRemarks</display-name>
		<servlet-name>SaveRemarks</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.SaveRemarks</servlet-class>
	</servlet>
	<servlet>
		<display-name>SaveOrigDoc</display-name>
		<servlet-name>SaveOrigDoc</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.SaveOrigDoc</servlet-class>
	</servlet>
	<servlet>
		<display-name>AsocRegsFdr</display-name>
		<servlet-name>AsocRegsFdr</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.AsocRegsFdr</servlet-class>
	</servlet>
	<servlet>
		<display-name>OrigDocFdr</display-name>
		<servlet-name>OrigDocFdr</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.OrigDocFdr</servlet-class>
	</servlet>
	<servlet>
		<display-name>DtrFdr</display-name>
		<servlet-name>DtrFdr</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.DtrFdr</servlet-class>
	</servlet>

	<servlet>
		<display-name>UpdHisFdr</display-name>
		<servlet-name>UpdHisFdr</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.UpdHisFdr</servlet-class>
	</servlet>

	<servlet>
		<display-name>VldPoblacion</display-name>
		<servlet-name>VldPoblacion</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.VldPoblacion</servlet-class>
	</servlet>
	<servlet>
		<display-name>VldTypeDocs</display-name>
		<servlet-name>VldTypeDocs</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.VldTypeDocs</servlet-class>
	</servlet>
	<servlet>
		<display-name>VldTypeAddress</display-name>
		<servlet-name>VldTypeAddress</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.VldTypeAddress</servlet-class>
	</servlet>
	<servlet>
		<display-name>VldInterSave</display-name>
		<servlet-name>VldInterSave</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.VldInterSave</servlet-class>
	</servlet>
	<servlet>
		<display-name>VldDirInter</display-name>
		<servlet-name>VldDirInter</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.VldDirInter</servlet-class>
	</servlet>
	<servlet>
		<display-name>VldDirInterTel</display-name>
		<servlet-name>VldDirInterTel</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.VldDirInterTel</servlet-class>
	</servlet>
	<servlet>
		<display-name>FrmData</display-name>
		<servlet-name>FrmData</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.FrmData</servlet-class>
	</servlet>
	<servlet>
		<display-name>FrmPersistFlds</display-name>
		<servlet-name>FrmPersistFlds</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.FrmPersistFlds</servlet-class>
	</servlet>
	<servlet>
		<display-name>SetPersistFields</display-name>
		<servlet-name>SetPersistFields</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.SetPersistFields</servlet-class>
	</servlet>
	<servlet>
		<display-name>UpdateFields</display-name>
		<servlet-name>UpdateFields</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.UpdateFields</servlet-class>
	</servlet>
	<servlet>
		<display-name>VldCiudad</display-name>
		<servlet-name>VldCiudad</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.VldCiudad</servlet-class>
	</servlet>
	<servlet>
		<display-name>VldBuscInter</display-name>
		<servlet-name>VldBuscInter</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.VldBuscInter</servlet-class>
	</servlet>

	<servlet>
		<display-name>vlddireccion</display-name>
		<servlet-name>vlddireccion</servlet-name>
		<jsp-file>/vlddireccion.jsp</jsp-file>
	</servlet>
	<servlet>
		<display-name>logout</display-name>
		<servlet-name>logout</servlet-name>
		<jsp-file>/logout.jsp</jsp-file>
	</servlet>
	<servlet>
		<display-name>login</display-name>
		<servlet-name>login</servlet-name>
		<jsp-file>/login.jsp</jsp-file>
	</servlet>
	<servlet>
		<display-name>CloseFolder</display-name>
		<servlet-name>CloseFolder</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.CloseFolder</servlet-class>
	</servlet>
	<servlet>
		<display-name>FlushFdr</display-name>
		<servlet-name>FlushFdr</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.FlushFdr</servlet-class>
	</servlet>
	<servlet>
		<display-name>Tbltext2</display-name>
		<servlet-name>Tbltext2</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.Tbltext2</servlet-class>
	</servlet>
	<servlet>
		<display-name>ReportDoc</display-name>
		<servlet-name>ReportDoc</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.ReportDoc</servlet-class>
	</servlet>
	<servlet>
		<display-name>Report</display-name>
		<servlet-name>Report</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.Report</servlet-class>
	</servlet>
	<servlet>
		<display-name>ValidateCode</display-name>
		<servlet-name>ValidateCode</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.ValidateCode</servlet-class>
	</servlet>
	<servlet>
		<display-name>ActionForm</display-name>
		<servlet-name>ActionForm</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.ActionForm</servlet-class>
	</servlet>
	<servlet>
		<display-name>Distribution</display-name>
		<servlet-name>Distribution</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.Distribution</servlet-class>
	</servlet>
	<servlet>
		<display-name>OpenFolder</display-name>
		<servlet-name>OpenFolder</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.OpenFolder</servlet-class>
	</servlet>
	<servlet>
		<display-name>FrmNavigate</display-name>
		<servlet-name>FrmNavigate</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.FrmNavigate</servlet-class>
	</servlet>
	<servlet>
		<display-name>NewFolder</display-name>
		<servlet-name>NewFolder</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.NewFolder</servlet-class>
	</servlet>
	<servlet>
		<display-name>NewFldBuc</display-name>
		<servlet-name>NewFldBuc</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.NewFldBuc</servlet-class>
	</servlet>
	<servlet>
		<display-name>TblText</display-name>
		<servlet-name>TblText</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.TblText</servlet-class>
	</servlet>
	<servlet>
		<display-name>Vldres</display-name>
		<servlet-name>Vldres</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.Vldres</servlet-class>
	</servlet>
	<servlet>
		<display-name>Qryfmtmp</display-name>
		<servlet-name>Qryfmtmp</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.Qryfmtmp</servlet-class>
	</servlet>
	<servlet>
		<display-name>Lest</display-name>
		<servlet-name>Lest</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.Lest</servlet-class>
	</servlet>
	<servlet>
		<display-name>FileDownload</display-name>
		<servlet-name>FileDownload</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.core.FileDownload</servlet-class>
	</servlet>
	<servlet>
		<display-name>UserConfig</display-name>
		<servlet-name>UserConfig</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.UserConfig</servlet-class>
	</servlet>
	<servlet>
		<display-name>SaveUserConfig</display-name>
		<servlet-name>SaveUserConfig</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.SaveUserConfig</servlet-class>
	</servlet>
	<servlet>
		<display-name>SavePersonValidation</display-name>
		<servlet-name>SavePersonValidation</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.SavePersonValidation</servlet-class>
	</servlet>
	<servlet>
		<display-name>SaveRememberLastSelectedUnit</display-name>
		<servlet-name>SaveRememberLastSelectedUnit</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.SaveRememberLastSelectedUnit</servlet-class>
	</servlet>
	<servlet>
		<display-name>ChangeOffice</display-name>
		<servlet-name>ChangeOffice</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.ChangeOffice</servlet-class>
	</servlet>
	<servlet>
		<display-name>GetPerson</display-name>
		<servlet-name>GetPerson</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.GetPerson</servlet-class>
	</servlet>
	<servlet>
		<display-name>GetDeptGroupUsers</display-name>
		<servlet-name>GetDeptGroupUsers</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.GetDeptGroupUsers</servlet-class>
	</servlet>
	<servlet>
		<display-name>CloseReg</display-name>
		<servlet-name>CloseReg</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.CloseReg</servlet-class>
	</servlet>
	<servlet>
		<display-name>OpenReg</display-name>
		<servlet-name>OpenReg</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.OpenReg</servlet-class>
	</servlet>
	<servlet>
		<display-name>QryInitAdvanSearch</display-name>
		<servlet-name>QryInitAdvanSearch</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.QryInitAdvanSearch</servlet-class>
	</servlet>
	<servlet>
		<display-name>VldSearchOperator</display-name>
		<servlet-name>VldSearchOperator</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.VldSearchOperator</servlet-class>
	</servlet>
	<servlet>
		<display-name>TempFileDownload</display-name>
		<servlet-name>TempFileDownload</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.core.TempFileDownload</servlet-class>
	</servlet>

   <servlet>
		<display-name>EnviarIntercambioRegistral</display-name>
		<servlet-name>EnviarIntercambioRegistral</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.intercambio.registral.EnviarIntercambioRegistral</servlet-class>
	</servlet>
    <servlet>
		<display-name>BuscarDestinoIntercambioRegistral</display-name>
		<servlet-name>BuscarDestinoIntercambioRegistral</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.intercambio.registral.BuscarDestinoIntercambioRegistral</servlet-class>
	</servlet>
	 <servlet>
		<display-name>BuscarEntidadesRegistralesDCO</display-name>
		<servlet-name>BuscarEntidadesRegistralesDCO</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.intercambio.registral.BuscarEntidadesRegistralesDCO</servlet-class>
	</servlet>
	 <servlet>
		<display-name>BuscarUnidadesTramitacionDCO</display-name>
		<servlet-name>BuscarUnidadesTramitacionDCO</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.intercambio.registral.BuscarUnidadesTramitacionDCO</servlet-class>
	</servlet>

	<servlet>
		<display-name>BandejaSalidaIntercambioRegistral</display-name>
		<servlet-name>BandejaSalidaIntercambioRegistral</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.intercambio.registral.BandejaSalidaIntercambioRegistral</servlet-class>
	</servlet>


	<servlet>
		<display-name>BandejaEntradaIntercambioRegistral</display-name>
		<servlet-name>BandejaEntradaIntercambioRegistral</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.intercambio.registral.BandejaEntradaIntercambioRegistral</servlet-class>
	</servlet>

	<servlet>
		<display-name>AceptarIntercambiosRegistrales</display-name>
		<servlet-name>AceptarIntercambiosRegistrales</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.intercambio.registral.AceptarIntercambiosRegistrales</servlet-class>
	</servlet>
	<servlet>
		<display-name>RechazarIntercambiosRegistrales</display-name>
		<servlet-name>RechazarIntercambiosRegistrales</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.intercambio.registral.RechazarIntercambiosRegistrales</servlet-class>
	</servlet>
	<servlet>
		<display-name>AbrirLibroVerRegistroIntercambioRegistral</display-name>
		<servlet-name>AbrirLibroVerRegistroIntercambioRegistral</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.intercambio.registral.AbrirLibroVerRegistroIntercambioRegistral</servlet-class>
	</servlet>

	<servlet>
		<display-name>ReenviarIntercambiosRegistrales</display-name>
		<servlet-name>ReenviarIntercambiosRegistrales</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.intercambio.registral.ReenviarIntercambiosRegistrales</servlet-class>
	</servlet>
	<servlet>
		<display-name>ExportExcel</display-name>
		<servlet-name>ExportExcel</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.ExportExcel</servlet-class>
	</servlet>
	<servlet>
		<display-name>GetHistDistWithRemark</display-name>
		<servlet-name>GetHistDistWithRemark</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.GetHistDistWithRemark</servlet-class>
	</servlet>


	<servlet>
		<display-name>MostrarHistorialIntercambioRegistral</display-name>
		<servlet-name>MostrarHistorialIntercambioRegistral</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.intercambio.registral.MostrarHistorialIntercambioRegistral</servlet-class>
	</servlet>

	<servlet>
		<display-name>MostrarIntercambioRegistral</display-name>
		<servlet-name>MostrarIntercambioRegistral</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.intercambio.registral.MostrarIntercambioRegistral</servlet-class>
	</servlet>


	<servlet>
		<display-name>MostrarTrazasHistorialIntercambioRegistral</display-name>
		<servlet-name>MostrarTrazasHistorialIntercambioRegistral</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.intercambio.registral.MostrarTrazasHistorialIntercambioRegistral</servlet-class>
	</servlet>


	<servlet>
		<display-name>DescargaDocumentoIntercambioRegistral</display-name>
		<servlet-name>DescargaDocumentoIntercambioRegistral</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.intercambio.registral.DescargaDocumentoIntercambioRegistral</servlet-class>
	</servlet>

	<servlet>
		<display-name>BusquedaBandejaEntradaIntercambioRegistral</display-name>
		<servlet-name>BusquedaBandejaEntradaIntercambioRegistral</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.intercambio.registral.BusquedaBandejaEntradaIntercambioRegistral</servlet-class>
	</servlet>

	<servlet>
		<display-name>BusquedaBandejaSalidaIntercambioRegistral</display-name>
		<servlet-name>BusquedaBandejaSalidaIntercambioRegistral</servlet-name>
		<servlet-class>com.ieci.tecdoc.isicres.servlets.intercambio.registral.BusquedaBandejaSalidaIntercambioRegistral</servlet-class>
	</servlet>


	<servlet>
		<display-name>springDispatcher</display-name>
		<servlet-name>springDispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/applicationContext.xml</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
    	<servlet-name>documentoElectronico</servlet-name>
    	<url-pattern>/documentoElectronico</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
    	<servlet-name>compulsa</servlet-name>
    	<url-pattern>/compulsa</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetSearchDist</servlet-name>
		<url-pattern>/getsearchdist.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetSearchAsocRegs</servlet-name>
		<url-pattern>/getsearchasociacionregistros.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ValidateSearchDist</servlet-name>
		<url-pattern>/validatesearchdist.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ValidateSearchAsocRegs</servlet-name>
		<url-pattern>/validatesearchasociacionregistros.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ValidateSelectAsocRegs</servlet-name>
		<url-pattern>/validateselectasociacionregistros.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveSelectAsocRegs</servlet-name>
		<url-pattern>/saveselectasociacionregistros.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileUploadScan</servlet-name>
		<url-pattern>/FileUploadScan</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileUploadScanCompulsa</servlet-name>
		<url-pattern>/FileUploadScanCompulsa</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileScanCompulsa</servlet-name>
		<url-pattern>/FileScanCompulsa</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileDelete</servlet-name>
		<url-pattern>/FileDelete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QryGetWhere</servlet-name>
		<url-pattern>/QryGetWhere.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportsFmt</servlet-name>
		<url-pattern>/reportsfmt.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetPage</servlet-name>
		<url-pattern>/getpage.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DtrChange</servlet-name>
		<url-pattern>/dtrchange.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DtrRech</servlet-name>
		<url-pattern>/dtrrech.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DtrRechEx</servlet-name>
		<url-pattern>/dtrrechex.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DtrArch</servlet-name>
		<url-pattern>/dtrarch.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DtrAcept</servlet-name>
		<url-pattern>/dtracept.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DtrAceptEx</servlet-name>
		<url-pattern>/dtraceptex.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DtrDist</servlet-name>
		<url-pattern>/dtrdist.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DtrReject</servlet-name>
		<url-pattern>/dtrReject.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdHisFdr</servlet-name>
		<url-pattern>/updhisfdr.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveRemarks</servlet-name>
		<url-pattern>/saveremarks.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveOrigDoc</servlet-name>
		<url-pattern>/saveorigdoc.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AsocRegsFdr</servlet-name>
		<url-pattern>/asocregsfdr.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrigDocFdr</servlet-name>
		<url-pattern>/origdocfdr.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DtrFdr</servlet-name>
		<url-pattern>/dtrfdr.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VldPoblacion</servlet-name>
		<url-pattern>/vldpoblacion.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VldTypeDocs</servlet-name>
		<url-pattern>/vldtypedocs.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VldTypeAddress</servlet-name>
		<url-pattern>/vldtypeaddress.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VldInterSave</servlet-name>
		<url-pattern>/vldintersave.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VldDirInter</servlet-name>
		<url-pattern>/vlddirinter.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VldDirInterTel</servlet-name>
		<url-pattern>/vlddirintertel.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FrmData</servlet-name>
		<url-pattern>/frmdata.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FrmData</servlet-name>
		<url-pattern>/cache/frmdata.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FrmPersistFlds</servlet-name>
		<url-pattern>/frmpersistflds.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SetPersistFields</servlet-name>
		<url-pattern>/SetPersistFields.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateFields</servlet-name>
		<url-pattern>/updatefields.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VldCiudad</servlet-name>
		<url-pattern>/vldciudad.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VldBuscInter</servlet-name>
		<url-pattern>/vldbuscinter.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>vlddireccion</servlet-name>
		<url-pattern>/vlddireccion.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logout.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/login.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CloseFolder</servlet-name>
		<url-pattern>/closefolder.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FlushFdr</servlet-name>
		<url-pattern>/flushfdr.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FlushFdr</servlet-name>
		<url-pattern>/xsl/flushfdr.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FlushFdr</servlet-name>
		<url-pattern>/cache/flushfdr.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Tbltext2</servlet-name>
		<url-pattern>/tbltext2.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportDoc</servlet-name>
		<url-pattern>/reportdoc.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Report</servlet-name>
		<url-pattern>/report.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActionForm</servlet-name>
		<url-pattern>/actionform.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ValidateCode</servlet-name>
		<url-pattern>/validatecode.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Distribution</servlet-name>
		<url-pattern>/distribution.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OpenFolder</servlet-name>
		<url-pattern>/openfolder.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OpenFolder</servlet-name>
		<url-pattern>/xsl/openfolder.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OpenFolder</servlet-name>
		<url-pattern>/cache/openfolder.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FrmNavigate</servlet-name>
		<url-pattern>/FrmNavigate.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FrmNavigate</servlet-name>
		<url-pattern>/xsl/FrmNavigate.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FrmNavigate</servlet-name>
		<url-pattern>/cache/FrmNavigate.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewFolder</servlet-name>
		<url-pattern>/newfolder.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewFolder</servlet-name>
		<url-pattern>/xsl/newfolder.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewFolder</servlet-name>
		<url-pattern>/cache/newfolder.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewFldBuc</servlet-name>
		<url-pattern>/newfldbuc.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewFldBuc</servlet-name>
		<url-pattern>/xsl/newfldbuc.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TblText</servlet-name>
		<url-pattern>/tbltext.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Vldres</servlet-name>
		<url-pattern>/vldres.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Vldres</servlet-name>
		<url-pattern>/VldRes.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Lest</servlet-name>
		<url-pattern>/lest.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Qryfmtmp</servlet-name>
		<url-pattern>/qryfmtmp.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileDownload</servlet-name>
		<url-pattern>/FileDownload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserConfig</servlet-name>
		<url-pattern>/UserConfig.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveUserConfig</servlet-name>
		<url-pattern>/SaveUserConfig.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SavePersonValidation</servlet-name>
		<url-pattern>/SavePersonValidation.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveRememberLastSelectedUnit</servlet-name>
		<url-pattern>/SaveRememberLastSelectedUnit.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeOffice</servlet-name>
		<url-pattern>/changeoffice.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetPerson</servlet-name>
		<url-pattern>/getperson.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetDeptGroupUsers</servlet-name>
		<url-pattern>/getdeptsgroupsusers.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CloseReg</servlet-name>
		<url-pattern>/closereg.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OpenReg</servlet-name>
		<url-pattern>/openreg.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QryInitAdvanSearch</servlet-name>
		<url-pattern>/qryinitadvansearch.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VldSearchOperator</servlet-name>
		<url-pattern>/vldSearchOperator.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TempFileDownload</servlet-name>
		<url-pattern>/TempFileDownload</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>EnviarIntercambioRegistral</servlet-name>
		<url-pattern>/EnviarIntercambioRegistral.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuscarDestinoIntercambioRegistral</servlet-name>
		<url-pattern>/BuscarDestinoIntercambioRegistral.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuscarEntidadesRegistralesDCO</servlet-name>
		<url-pattern>/BuscarEntidadesRegistralesDCO.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuscarUnidadesTramitacionDCO</servlet-name>
		<url-pattern>/BuscarUnidadesTramitacionDCO.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>BandejaSalidaIntercambioRegistral</servlet-name>
		<url-pattern>/BandejaSalidaIntercambioRegistral.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>BandejaEntradaIntercambioRegistral</servlet-name>
		<url-pattern>/BandejaEntradaIntercambioRegistral.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AceptarIntercambiosRegistrales</servlet-name>
		<url-pattern>/AceptarIntercambiosRegistrales.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RechazarIntercambiosRegistrales</servlet-name>
		<url-pattern>/RechazarIntercambiosRegistrales.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AbrirLibroVerRegistroIntercambioRegistral</servlet-name>
		<url-pattern>/AbrirLibroVerRegistroIntercambioRegistral.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReenviarIntercambiosRegistrales</servlet-name>
		<url-pattern>/ReenviarIntercambiosRegistrales.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ExportExcel</servlet-name>
		<url-pattern>/exportexcel.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetHistDistWithRemark</servlet-name>
		<url-pattern>/gethistdistwithremark.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MostrarHistorialIntercambioRegistral</servlet-name>
		<url-pattern>/MostrarHistorialIntercambioRegistral.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>MostrarIntercambioRegistral</servlet-name>
		<url-pattern>/MostrarIntercambioRegistral.do</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>MostrarTrazasHistorialIntercambioRegistral</servlet-name>
		<url-pattern>/MostrarTrazasHistorialIntercambioRegistral.do</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>DescargaDocumentoIntercambioRegistral</servlet-name>
		<url-pattern>/DescargaDocumentoIntercambioRegistral.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>BusquedaBandejaEntradaIntercambioRegistral</servlet-name>
		<url-pattern>/BusquedaBandejaEntradaIntercambioRegistral.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>BusquedaBandejaSalidaIntercambioRegistral</servlet-name>
		<url-pattern>/BusquedaBandejaSalidaIntercambioRegistral.do</url-pattern>
	</servlet-mapping>



	<servlet-mapping>
		<servlet-name>springDispatcher</servlet-name>
		<url-pattern>*.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>springDispatcher</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>

	<filter>
		<display-name>UTF8Filter</display-name>
		<filter-name>UTF8Filter</filter-name>
		<filter-class>com.ieci.tecdoc.isicres.filters.UTF8Filter</filter-class>
		<init-param>
			<param-name>requestEncoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<!-- Filtro para evitar XSS. Debe de ir despues del filtro UTF-8 -->
	<filter>
		<display-name>xssFilter</display-name>
        <filter-name>xssFilter</filter-name>
        <filter-class>com.ieci.tecdoc.isicres.filters.XSSFilter</filter-class>
    </filter>

	<filter>
		<display-name>login</display-name>
		<filter-name>login</filter-name>
		<filter-class>com.ieci.tecdoc.isicres.filters.LoginCheckFilter</filter-class>
		<init-param>
			<param-name>excludePaths</param-name>
			<param-value>/plugins;/afirma;/applets</param-value>
		</init-param>
	</filter>
	<filter>
		<display-name>url</display-name>
		<filter-name>url</filter-name>
		<filter-class>com.ieci.tecdoc.isicres.filters.URLCheckFilter</filter-class>
	</filter>

	<filter>
		<display-name>caseSensitiveTercerosFilter</display-name>
	   <filter-name>caseSensitiveTercerosFilter</filter-name>
	   <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UTF8Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- Filtro para evitar XSS. Debe de ir despues del filtro UTF-8 -->
	<filter-mapping>
	    <filter-name>xssFilter</filter-name>
        <url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>login</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>url</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>url</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<filter-mapping>
	   <filter-name>caseSensitiveTercerosFilter</filter-name>
	   <servlet-name>springDispatcher</servlet-name>
	</filter-mapping>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>com.ieci.tecdoc.isicres.listeners.IsicresServletContextListener</listener-class>
	</listener>

	<listener>
		<listener-class>com.ieci.tecdoc.isicres.listeners.SessionListener</listener-class>
	</listener>

	<listener>
		<listener-class>es.ieci.tecdoc.isicres.api.intercambioregistral.scheduler.listener.SchedulerInitializerListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.apache.tiles.web.startup.TilesListener</listener-class>
	</listener>
	<welcome-file-list>
		<welcome-file>__index.jsp</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>404</error-code>
		<location>/__error.jsp</location>
	</error-page>
</web-app>
