@import url(common.css);

/**
Estilos propios de login.css
*/
td.message {
	font-weight: bold;
	font-size: 12px;
	color: #FF5B5B;
}

td.cabecera {
	height: 45px;
	background: url(../images/degblue.gif);
}

select {
	width:146px;
}