/*
 * SAMPLE CSS
 *
 * You can use this sample Cascading Stylesheet to get started.  Simply modify
 * the styles to suit your needs.
 *
 */


/* --- AUTOCOMPLETE CSS --- */

.autocomplete {
  position: absolute;
  color: #333;
  background-color: #fff;
  border: 1px solid #666;
  visibility: hidden;
  font-family: Arial;
  overflow: hidden;
}

.autocomplete ul {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: auto;
}

.autocomplete li {
  display: block;
  white-space: nowrap;
  cursor: pointer;
  margin: 0px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #fff;
}

.autocomplete li.selected {
  background-color: #cef;
  border-top: 1px solid #9bc;
  border-bottom: 1px solid #9bc;
}

/* Animated throbber */

input.form-autocomplete {
  background: url('../img/throbber.gif') no-repeat 100% 2px;
}

input.throbbing {
  background-position: 100% -18px;
}


/* --- CALLOUT CSS --- */

.calloutBox {
  width: 250px;
  background-color: #ddd;
  border-width: 1px;
  border-style: solid;
  border-top-color: #eee;
  border-left-color: #eee;
  border-right-color: #999;
  border-bottom-color: #999;
  padding: 0;
  display: none;
  filter:alpha(opacity=90);
  -moz-opacity:0.9;
  opacity: 0.9;
}
.calloutTitle {
  background-color: #000;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #666;
  padding: 2px 4px;
  color: #ccc;
  font: bold 10pt Arial;
}
.calloutContent {
  padding: 4px;
  color: #000;
  font: 10pt Arial;
}
.calloutClose {
  float: right;
  padding: 2px 4px;
  margin-top: 1px;
  color: #fff;
  font: bold 8pt Arial;
  cursor: pointer;
}


/* --- TOGGLE CSS --- */

#watchedResponseContainer {
  border: 1px solid #ccc;
  width: 300px;
  padding: 4px;
  margin-top: 10px;
  background-color: #eee;
}

#watchedResponse {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 4px;
  background-color: #fff;
}


/* --- HTML CONTENT CSS --- */

#modelDescription {
  position: absolute;
  left: 300px;
  width: 300px;
  min-height: 100px;
  background: #ffe;
  border-style: solid;
  border-width: 1px;
  border-color: #666 #ccc #ccc #666;
  padding: 5px;
}

#htmlContentForm {
  width: 350px;
}


/* --- TAB PANEL CSS --- */

#tabPanelWrapper {
  width: 600px;
}

#tabContent {
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
  clear: both;
  margin: 0px;
  padding: 15px;
}

#tabPanel {
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding-bottom: 19px;
  padding-left: 10px;
}

#tabPanel ul, #tabPanel li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#tabPanel a:link, #tabPanel a:visited {
  background: #E8EBF0;
  border: 1px solid #ccc;
  color: #666;
  float: left;
  font-size: small;
  font-weight: normal;
  line-height: 14px;
  margin-right: 8px;
  padding: 2px 10px 2px 10px;
  text-decoration: none;
}

#tabPanel a:link#ajaxCurrentTab, #tabPanel a:visited#ajaxCurrentTab {
  background: #fff;
  border-bottom: 1px solid #fff;
  color: #000;
}

#tabPanel a:hover {
  color: #f00;
}


/* --- PORTLET CSS --- */

.portletBox {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  margin-top: 4px;
  margin-bottom: 4px;
}

.portletTitle {
  background-color: #e8ebf0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #ccc;
  padding: 2px 4px;
  color: rgb(97, 110, 170);
  font: bold 10pt Arial;
}

.portletTools {
  float: right;
  padding: 2px 4px;
  margin-top: 1px;
  color: rgb(97, 110, 170);
  font: bold 8pt Arial;
  cursor: pointer;
}

.portletTools img {
  border-left: 1px solid rgb(97, 110, 170);
  padding: 0px 3px;
  cursor: pointer;
}

.portletTools img:first-child {
  border: none;
}

.portletContent {
/*  min-height: 200px;*/
  overflow: auto;
  padding: 4px;
}
