/* Put this inside a @media qualifier so Netscape 4 ignores it */
@media screen, print { 
	/* Turn off list bullets */
	ul.mktree  li { list-style: none; } 
	/* Control how "spaced out" the tree is */
	ul.mktree, ul.mktree ul , ul.mktree li { margin-left:10px; padding:0px 0px 3px 0px; }
	/* Provide space for our own "bullet" inside the LI */
	ul.mktree  li           .bullet { padding-left: 20px; padding-top: 2px; padding-bottom: 3px; padding-right:2px;}
	/* Show "bullets" in the links, depending on the class of the LI that the link's in */
	ul.mktree  li.liOpen    .bullet { cursor: pointer; background: url(../img/procedureTree/procedimiento_menos.gif)  center left no-repeat; }
	ul.mktree  li.liClosed  .bullet { cursor: pointer; background: url(../img/procedureTree/procedimiento_mas.gif)   center left no-repeat; }
	ul.mktree  li.liBullet  .bullet { cursor: default; background: url(../img/procedureTree/procedimiento.gif) center left no-repeat; }
	/* Sublists are visible or not based on class of parent LI */
	ul.mktree  li.liOpen    ul { display: block; }
	ul.mktree  li.liClosed  ul { display: none; }
	/* Format menu items differently depending on what level of the tree they are in */
	ul.mktree  li { 
		font-size: 10pt;
		background-color: #FFFFFF;
		padding-left: 15px;
		margin: 0px;
		border: 1px solid #FFFFFF;
	}
	ul.mktree  li ul li { 
		background-color: #FFFFFF;
		font-size: 10pt; 
		border: 1px solid #FFFFFF;
	}
	ul.mktree  li ul li ul li { 
		background-color: #FFFFFF;
		font-size: 10pt; 
		border: 1px solid #FFFFFF;
	}
	ul.mktree  li ul li ul li ul li { 
		background-color: #FFFFFF;
		font-size: 10pt; 
		border: 1px solid #FFFFFF;
	}
}
