BODY {
	/*background: #FFFFFF;*/
	border: 0px solid #D2D2D2;
/*	width:96%;
	height:96%;*/
	margin:0px;
	padding-left:5px;
	padding-top:0px;
	scrollbar-arrow-color: #454a4d;
	scrollbar-3dlight-color: #cfd3d5;
	scrollbar-highlight-color: #ffffff;
	scrollbar-face-color: #F5FBFE;
	scrollbar-shadow-color: #F5FBFE;
	scrollbar-track-color: #f0f0f1;
	scrollbar-darkshadow-color: #cfd3d5;
}

TD {font-size: 10px;
	font-family: verdana,helvetica;
	text-decoration: none;
	color: #363538;
	font-weight: bold;
	white-space: nowrap;
}
A  {text-decoration: none;
	color: #363538;
}
.frameArbol{
	padding-left:12px;
	padding-top:0px;
	padding-bottom:6px;
	padding-right:0px;
}


.bloque_frame {
  border:0px solid #B6CBEB;
}

.treeView {
	padding:0;
	margin:0;
}

.areaContenido {
}

#contenedor{
	position: relative; 
	margin:0px; 	
	-moz-box-sizing: border-box;	

	border: none;
	z-index: -10000; 	
	padding-top:5px;
	padding-left:6px;
	padding-right:6px;
	clear:both;
}
#pagina {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position: relative;
}

