/*Estilos propios 10-02-2006*/
body { 
	font-family: sans-serif,Arial, Helvetica; 
	cursor: default;
	font-size: 9px; 
	text-decoration: none;
	SCROLLBAR-FACE-COLOR: #DCE1E1; 
	SCROLLBAR-HIGHLIGHT-COLOR: white;
	SCROLLBAR-SHADOW-COLOR: white; 
	SCROLLBAR-3DLIGHT-COLOR: C2E1E6; 
	SCROLLBAR-ARROW-COLOR: #000000;
	SCROLLBAR-TRACK-COLOR: #E0E0E0;
	SCROLLBAR-DARK-SHADOW-COLOR: C2E1E6; 
	SCROLLBAR-BASE-COLOR: #C2E1E6;
	
	} 
.tableHead
        {
				BORDER-BOTTOM: #003399 1px solid;
        BORDER-TOP: #003399 1px solid;
        BORDER-LEFT: #003399 1px solid;
        BORDER-RIGHT: #003399 1px solid;
        font-face: Verdana, arial;
				font-size: 11px; 
				color: #003399; 
				text-decoration: none;
				font-weight:bold;
        }
.tableHeadGreen
        {
				background-color: #5067CB; 				
        font-face: arial, verdana;
				font-size: 15px;	
				color:#FFFFFF;
				text-decoration: none;
				font-weight:bold;
        }
.titleTable
        {
				BORDER-BOTTOM: #008BD7 1px solid;
        BORDER-TOP: #008BD7 1px solid;
        BORDER-LEFT: #008BD7 1px solid;
        BORDER-RIGHT: #008BD7 1px solid;
        font-face:sans-serif, Verdana, arial;
				background-color:#008BD7;
				font-size: 11px; 
				color: #ffffff; 
				text-decoration: none;
				text-align: left;
				
        }
.titleTableMenu
        {
        BORDER-LEFT: #5067CB 1px solid;
        BORDER-RIGHT: #5067CB 1px solid;
        font-face: Verdana, arial;
				background-color:#5067CB;
				font-size: 13px; 
				color: #ffffff; 
				text-decoration: none;
				font-weight:bold;
        }
.tableMenu
{
    BORDER-LEFT: #ffffff 1px solid;
    BORDER-RIGHT: #ffffff 1px solid;
    font-face: sans-serif, Verdana, arial;
		background-color:#ffffff;
		font-size: 13px; 
		color: #ffffff; 
		text-decoration: none;
		font-weight:bold;
}
.fondMenu{
		BORDER-BOTTOM: #008BD7 1px solid;
		BORDER-TOP: #008BD7 1px solid;
		BORDER-LEFT: #008BD7 1px solid;
    	BORDER-RIGHT: #008BD7 1px solid;
		font-face: sans-serif, Verdana, arial;
		font-size: 11px; 
		text-decoration: none;
		font-weight:bold;
}
.cdoTableMenu
        {
				BORDER-BOTTOM: #ffffff 1px solid;
        BORDER-TOP: #ffffff 1px solid;
        BORDER-LEFT: #ffffff 1px solid;
        BORDER-RIGHT: #ffffff 1px solid;
        font-face: Verdana, arial;
				background-color:#E9EFF0;
				font-size: 10px; 
				color: #000092; 
				text-decoration: none;
				font-weight:bold;
        }
.cdoTableMenuDesp
{
	BORDER-BOTTOM: #ffffff 1px solid;
  BORDER-TOP: #ffffff 1px solid;
  BORDER-LEFT: #ffffff 1px solid;
  BORDER-RIGHT: #ffffff 1px solid;
  font-face: arial, verdana;
	background-color:#ffffff;
	font-size: 12px; 
	color: #003399; 
	text-decoration: none;
}
.titleList{
		background-color:#C5CDF2;
		font-size: 12px; 
		color: #04369B; 
		font-face: arial, verdana;
		text-decoration: none;
		font-weight:bold;
}
.cdoList{
		background-color:#E3E3EA;
		font-size: 12px; 
		color: #000000; 
		font-face: arial, verdana;
		text-decoration: none;
		font-weight:none;
}
.cdoList2{
		background-color:#E3E3EA;
		font-size: 12px; 
		color: #000000; 
		font-face: arial, verdana;
		text-decoration: none;
		font-weight:none;
}
.cdoListAnticip{
		background-color:#E3E3EA;
		font-size: 11px; 
		color: #000000; 
		font-face: arial, verdana;
		text-decoration: none;
		font-weight:none;
}
.cdoList2Anticip{
		background-color:#E3E3EA;
		font-size: 11px; 
		color: #000000; 
		font-face: arial, verdana;
		text-decoration: none;
		font-weight:none;
}
.sepCellds{
		background-color:#ffffff;
		font-size: 12px; 
		color: #000000; 
		font-face: arial, verdana;
		text-decoration: none;
		font-weight:none;
		padding-width:1;
		padding-left:2;
		padding-rigth:2;
}
.sepCelldsClien{
		background-color:#ffffff;
		BORDER-BOTTOM: #ffffff 2px solid;
	    BORDER-TOP: #ffffff 2px solid;
	    BORDER-LEFT: #ffffff 2px solid;
	    BORDER-RIGHT: #ffffff 2px solid;
		font-size: 12px; 
		color: #000000; 
		font-face: arial, verdana;
		text-decoration: none;
		font-weight:none;
		padding-width:2;
		padding-left:2;
		padding-right:2;
}
.button
        {
	    background-color: #DDDCDC;
	    BORDER-BOTTOM: #013D74 1px solid;
	    BORDER-TOP: #013D74 1px solid;
	    BORDER-LEFT: #013D74 1px solid;
	    BORDER-RIGHT: #013D74 1px solid;
	    font-face: arial, verdana;
			font-size: 11px; 
			color: #003399; 
			text-decoration: none;
			font-weight:none;
			height:22px;
			cursor:hand;
        }
.borderBlue
        {
        BORDER-BOTTOM: #5067CB 1px solid;
        BORDER-TOP: #5067CB 1px solid;
        BORDER-LEFT: #5067CB 1px solid;
        BORDER-RIGHT: #5067CB 1px solid;
		}
.white{
	background-color:#ffffff;
	}
.dark{
	background-color:#B4BBDC;
	}
.fontBlue{
	color: #003399;font-weight:bold;font-size: 10pt;
	}
.fontBlueAnticip{
	color: #003399;font-weight:bold;font-size: 9pt;
	}
.fontBlueCobro{
	color: #003399;font-weight:bold;font-size: 8pt;
	}
.blue{
	background-color:#006699;
	}
.bluelight{
	background-color:#C5CDF2;
	}
.tableBlue{
	background-color:#E3E3EA; 
	text-decoration:none; 
	color: #050597; 
	font-size: 9pt; 
	font-weight:bold;
	}
.tableBlueLight{
	background-color:#E3E3FF; 
	text-decoration:none; 
	color: #050597; 
	font-size: 9pt; 
	font-weight:bold;
	}
.inputText{
		text-decoration:none; 
		color: #050597; 
		font-size: 10pt;
		BORDER-BOTTOM: #5067CB 1px solid;
    BORDER-TOP: #5067CB 1px solid;
    BORDER-LEFT: #5067CB 1px solid;
    BORDER-RIGHT: #5067CB 1px solid;
	} 
.atxtd {
	text-decoration:none; 
	color: #91939B; 
	font-size: 9pt; 
	font-weight:bold; 
	}
.atxtl {
	text-decoration:none; 
	color: #5067CB; 
	font-size: 9pt; 
	font-weight:bold; 
	}
.apartado {
	text-decoration:none; 
	color: #000000; 
	font-size: 10pt; 
	font-weight:bold; 
	}
TR.rowNoSelectGreen { 
	background-color: #D5F66F;
	}
TR.rowNoSelectBlue { 
	background-color: #E3E3EA;
	}
TR.rowSelect{ 
	background-color: #5067CB; 
	color:#ffffff
	}
.inputDisabled
	{
	background-color:#C5CDF2;
	text-decoration:none; 
	color: #050597; 
	font-size: 10pt;
	disabled:true;
	BORDER-BOTTOM: #5067CB 1px solid;
  BORDER-TOP: #5067CB 1px solid;
  BORDER-LEFT: #5067CB 1px solid;
  BORDER-RIGHT: #5067CB 1px solid;
	font-weight:none; 
	} 
.inputCobro
	{
	text-decoration:none; 
	color: #000000; 
	font-size: 9pt;
	disabled:true;
	BORDER-BOTTOM: #5067CB 1px solid;
  BORDER-TOP: #5067CB 1px solid;
  BORDER-LEFT: #5067CB 1px solid;
  BORDER-RIGHT: #5067CB 1px solid;
	font-weight:none; 
	height:18px;
	} 
.atxt {
	text-decoration:none; 
	color: #0000ff; 
	font-size: 10px; 
	font-weight:none; 
	text-Transform:none;
	} 
.atxt:hover {
	text-decoration:none; 
	color: #0000ff; 
	font-size: 10px; 
	font-weight:none; 
	text-Transform:none;
	text-decoration:underline;
	} 
.atxtb {
	text-decoration:none; 
	color: #050597; 
	font-size: 10px; 
	font-weight:none; 
	text-Transform:uppercase;
	} 
.atxtb:hover {
	text-decoration:none; 
	color: #9C9CF3; 
	font-size: 10px; 
	font-weight:none; 
	text-Transform:uppercase;
	} 
.clave{
	text-decoration:underline; 
	color: #0000ff; 
	font-size: 11px; 
	font-weight:none;
}
.clave:hover{
	text-decoration:underline; 
	color: #99CC00; 
	font-size: 11px; 
	font-weight:none;
}
.clave2{
	text-decoration:underline; 
	color: #0000ff; 
	font-size: 12px; 
	font-weight:none;
}
.clave2:hover{
	text-decoration:underline; 
	color: #99CC00; 
	font-size: 12px; 
	font-weight:none;
}

.txt {
	text-decoration:none; 
	color: #000000; 
	font-size: 11px; 
	font-weight:none; 
	text-Transform:none;
	font-face: Microsoft sans-serif, arial, verdana;
} 
.txtSup {
	text-decoration:none; 
	color: #656565; 
	font-size: 10px; 
	font-weight:none; 
	text-Transform:none;
	font-face: Microsoft sans-serif, arial, verdana;
} 
.borderPpio{
    BORDER-LEFT: #C0c0c0 1px solid;
    BORDER-RIGHT: #c0c0c0 1px solid;
    BORDER-BOTTOM: #919191 2px solid;
    font-face:sans-serif, Verdana, arial;
		font-size: 10px; 
		color: #797878; 
		text-decoration: none;
}
.link
{
	text-decoration:none; 
	color: #ffffff; 
	font-size: 11px; 
	font-weight:bold; 
	text-Transform:capitalize;
	font-family: sans-serif, verdana, arial;
	cursor:hand;
}

.linkRed
{
	BORDER-LEFT: #C0c0c0 1px solid;
  BORDER-RIGHT: #c0c0c0 1px solid;
  BORDER-top: #c0c0c0 1px solid;
	font-size: 11px;
	font-weight:bold;
	font-color:#ffffff; 
	background-color:#008BD7;
	text-Transform:capitalize;
	text-decoration:none;
	margin-left:8px;
	margin-top:5px;
	margin-bottom:5px;
	margin-right:5px;
	font-family: sans-serif, verdana, arial;
	
}
.linkGray
{
	BORDER-LEFT: #C0c0c0 1px solid;
  BORDER-RIGHT: #c0c0c0 1px solid;
  BORDER-top: #c0c0c0 1px solid;
  text-decoration:none;
	font-size: 11px;
	font-weight:bold; 
	font-color:#ffffff; 
	background-color:#757B7F;
	text-Transform:capitalize;
	margin-left:8px;
	margin-top:5px;
	margin-bottom:5px;
	margin-right:5px;
	font-family: sans-serif, verdana, arial;
}
.titCabec {	
	FONT-WEIGHT: none;
	FONT-SIZE: 11px;
	COLOR: #0A246A;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.glosario
{
	SCROLLBAR-FACE-COLOR: #DCE1E1; 
	SCROLLBAR-HIGHLIGHT-COLOR: white;
	SCROLLBAR-SHADOW-COLOR: white; 
	SCROLLBAR-3DLIGHT-COLOR: C2E1E6; 
	SCROLLBAR-ARROW-COLOR: #000000;
	SCROLLBAR-TRACK-COLOR: #E0E0E0;
	SCROLLBAR-DARK-SHADOW-COLOR: C2E1E6; 
	SCROLLBAR-BASE-COLOR: #C2E1E6;
}
.inicio{
	text-decoration:none; 
	color: #0000ff; 
	font-size: 11px; 
	font-weight:none; 
	text-Transform:none;
	font-face: Microsoft sans-serif, arial, verdana;
}
.inicio:hover{
	text-decoration:none; 
	color: #0000ff; 
	font-size: 11px; 
	font-weight:none; 
	text-Transform:none;
	font-face: Microsoft sans-serif, arial, verdana;
}
.flecha{
	text-decoration:none; 
	color: #004971; 
	font-size: 11px; 
	font-weight:none; 
	text-Transform:none;
	font-face: Microsoft sans-serif, arial, verdana;
}
.linkGloOut
{
	text-decoration:none; 
	color: #050597; 
	font-size: 11px; 
	font-weight:none; 
	text-Transform:none;
	text-transform:uppercase;
	background-color:#ffffff;
	font-family: verdana, Microsoft sans-serif, arial;
	cursor:hand;
	height:22px;
}
.linkGloOver
{
	text-decoration:none; 
	color: #050597; 
	font-size: 11px; 
	font-weight:none; 
	text-Transform:none;
	text-transform:uppercase;
	background-color:#EEEEEE;
	font-family: verdana, Microsoft sans-serif, arial;
	height:22px;
}
.linkGloClick
{
	text-decoration:none; 
	color: #000000; 
	font-size: 11px; 
	font-weight:none; 
	text-Transform:none;
	text-transform:uppercase;
	background-color:#B9C1C2;
	font-family: verdana, Microsoft sans-serif, arial;
	height:22px;
}
.hgc{
	text-decoration:none; 
	color: #000000; 
	font-size: 11px; 
	font-weight:none; 
	text-Transform:none;
	font-family: arial, verdana, Microsoft sans-serif;
	letter-spacing:1px;
}
.tableCentral
{
	BORDER-LEFT: #999999 1px solid;
  BORDER-RIGHT: #999999 1px solid;
  BORDER-TOP: #999999 1px solid;
  BORDER-BOTTOM: #999999 1px solid;
  background-color:#ffffff;
}

.tituloGlo
{
	text-decoration:none; 
	color: #006699; 
	font-size: 11px; 
	font-weight:none; 
	text-Transform:none;
	font-family: arial, verdana, Microsoft sans-serif;
	letter-spacing:1px;
}

.textoGlo
{
	text-decoration:none; 
	color: #999999; 
	font-size: 11px; 
	font-weight:none; 
	text-Transform:none;
	font-family: arial, verdana, Microsoft sans-serif;
	line-height:20px;
	letter-spacing:1px;
}