FRAME.Style3
{
    border-bottom: 1px solid #003366;
}
FRAME.Style4
{
    border-top: 1px solid #FFFFFF; 
    border-bottom: 1px solid #FFFFFF;
}
FRAME.Style5
{
    border-top: 1px solid #000000;
}


