.barraBandeja{
	background-color:#CFCDCD;
	text-align:right;
	padding:4px 0;
}

.linkBarraBandeja{
	margin-right: 10px;
	text-decoration: none;
	margin-right: 20px;
}

.barraAcciones{
	padding:5px;
	text-align: right;
	background-color: #C7CE4E;
}
.linkDisabled
{
	color: grey;
}
.linkBarraAcciones{
	margin-right: 20px;
}

.linkBarraAcciones,.linkBarraBandeja
{
cursor: pointer;
}

#librosEntrada{

	background: none repeat scroll 0 0 white;
    border: 1px solid black;
    color: black;
    display: block;
    margin-left: 30%;
    padding: 30px;
    position: absolute;


}
 #buscarNuevoDestino{

	background: none repeat scroll 0 0 white;
    border: 1px solid black;
    color: black;
    display: block;
    margin-left: 15%;
    padding: 30px;
    position: absolute;


}
#llegoDocumentacionFisica, #divMotivoRechazo{
	background: none repeat scroll 0 0 white;
    border: 1px solid black;
    color: black;
    margin-left: 25%;
    padding: 30px;
    position: absolute;
    width: 400px;
    text-align:center;
}

#llegoDocumentacionFisica p, #buscarNuevoDestino p{
	color:black;
}
#capaBloqueo{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color: grey;
  	filter:alpha(opacity=60);
  	-moz-opacity: 0.6;
  	opacity: 0.6;
}


.imageClickable{
	cursor:pointer;

}

.formRow{
	margin: 8px 0 8px 0;
}

.label{
	padding:0;
}
