<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                         "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <display-name>SIGEM_TramitacionWeb</display-name>
    <description>Gestion de Expedientes</description>
    
	<context-param>
	  <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>   
	  <param-value>ieci.tdw.ispac.ispacmgr.resources.ApplicationResources</param-value>
	</context-param>
	    
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>ieci.tdw.ispac.ispacweb.filters.EncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>ISO-8859-15</param-value>
		</init-param>
	</filter>
    <filter>
    	<filter-name>ResponseOverrideFilter</filter-name>
    	<filter-class>org.displaytag.filter.ResponseOverrideFilter</filter-class>
    </filter>
    <filter>
		<filter-name>localeFilter</filter-name>
		<filter-class>ieci.tecdoc.sgm.core.web.locale.LocaleFilter</filter-class>
	</filter>
    
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
    <filter-mapping>
    	<filter-name>ResponseOverrideFilter</filter-name>
    	<url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
    	<filter-name>ResponseOverrideFilter</filter-name>
    	<url-pattern>*.jsp</url-pattern>
    </filter-mapping>
	<filter-mapping>
		<filter-name>localeFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

    <servlet>
    	<servlet-name>ResourceDispatcherServlet</servlet-name>
    	<servlet-class>ieci.tecdoc.sgm.core.web.ResourceDispatcherServlet</servlet-class>
    	<init-param>
    		<param-name>subdir</param-name>
    		<param-value>/SIGEM_TramitacionWeb</param-value>
    	</init-param>
    	<init-param>
    		<param-name>defaultSkin</param-name>
    		<param-value>skinDefecto</param-value>
    	</init-param>
    </servlet>

    <servlet>
        <servlet-name>startup</servlet-name>
        <servlet-class>ieci.tdw.ispac.ispacweb.servlet.ISPACStartupServlet</servlet-class>
        <init-param>
            <param-name>subdir</param-name>
            <param-value>../SIGEM_TramitacionWeb</param-value>
        </init-param>
        <init-param>
            <param-name>logFileName</param-name>
            <param-value>log4j.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>ieci.tdw.ispac.ispacweb.servlet.ISPACActionServlet</servlet-class>

		<!-- Configuracion de varios struts-config-->
		<init-param>
		    <param-name>config</param-name>
		     <param-value>/WEB-INF/struts-config.xml , /WEB-INF/struts-config-custom.xml</param-value>
		</init-param>      
        
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>validate</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>storage</servlet-name>
        <servlet-class>ieci.tdw.ispac.ispacweb.webdav.servlets.StorageServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>file</servlet-name>
        <servlet-class>ieci.tdw.ispac.ispacweb.webdav.servlets.FileServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
    </servlet>
	<servlet>
        <servlet-name>download</servlet-name>
        <servlet-class>ieci.tdw.ispac.ispacweb.servlet.DownloadServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
    </servlet>
	<servlet>
        <servlet-name>KeepAliveSession</servlet-name>
        <servlet-class>ieci.tdw.ispac.ispacweb.session.KeepAliveSession</servlet-class>
    </servlet>
	<servlet>
      <servlet-name>designer</servlet-name>
      <servlet-class>ieci.tdw.ispac.designer.server.ImplGwtIService</servlet-class>
   </servlet>
	<servlet>
      <servlet-name>scheduler</servlet-name>
      <display-name>Session Scheduler</display-name>
      <servlet-class>ieci.tdw.ispac.ispacweb.scheduler.SchedulerServlet</servlet-class>
      <init-param>
         <param-name>subdir</param-name>
         <param-value>../SIGEM_TramitacionWeb</param-value>
      </init-param>
      <init-param>
         <param-name>fileName</param-name>
         <param-value>scheduler-config.xml</param-value>
      </init-param>
      <load-on-startup>3</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
		<init-param>
			<param-name>crossDomainSessionSecurity</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>
   
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>storage</servlet-name>
        <url-pattern>/storage/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>file</servlet-name>
        <url-pattern>/file/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>download</servlet-name>
        <url-pattern>/download/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KeepAliveSession</servlet-name>
        <url-pattern>/keepalivesession</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>designer</servlet-name>
     <url-pattern>/ispac/components/designer/GwtIService.gwt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
		<servlet-name>ResourceDispatcherServlet</servlet-name>
		<url-pattern>/resourceServlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
	
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <mime-mapping>
        <extension>html</extension>
        <mime-type>text/html</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>txt</extension>
        <mime-type>text/plain</mime-type>
    </mime-mapping>
    <welcome-file-list>
        <welcome-file>ispac/index.jsp</welcome-file>
    </welcome-file-list>
    <taglib>
        <taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/struts-menu.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-menu.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/ispac-util.tld</taglib-uri>
        <taglib-location>/WEB-INF/ispac-util.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
        <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/struts-tiles.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-tiles.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/displaytag.tld</taglib-uri>
        <taglib-location>/WEB-INF/displaytag.tld</taglib-location>
    </taglib>

</web-app>
